<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="codingM.dao.LikeDao">
  
  <insert id="insert" parameterType="LikeSong">
    insert into likesong(mno, sno) values(#{mno}, #{sno});
  </insert>
  
  <update id="update" parameterType="LikeSong">
    update likesong set status=status+1 where mno=#{mno} and sno=#{sno};
  </update>
  
  <select id="count" parameterType="int" resultType="int">
    select count(*) from likesong where sno=#{sno} and status%2=1; 
  </select>
  
  <select id="selectList" parameterType="int" resultType="int">
    select sno from likesong where mno=#{mno}
  </select>
  
  <select id="status" parameterType="LikeSong" resultType="int">
    select status from likesong where sno=#{sno} and mno=#{mno}; 
  </select>
</mapper>












