<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="codingM.dao.SongDao">
  <insert id="insert" parameterType="Song">
    insert into song(mno, title, singer, recordDate, fileName) values(#{mno}, #{title}, #{singer}, now(), #{fileName}); 
  </insert>

  <delete id="delete" parameterType="int">
    delete from song where mno=#{mno};
  </delete>
  
  <select id="selectList" resultType="SongMember">
    select s.sno, s.mno, s.title, s.singer, m.nickname, 
    (select count(*) from likesong ls where s.sno=ls.sno and status%2=1) as heart, 
    ls.status, m.profilePic, s.fileName 
    from member m right outer join song s on s.mno=m.mno 
    left outer join likesong ls on ls.sno=s.sno and ls.mno=#{mno}
    order by s.sno desc;
  </select>
  
  <select id="selectOne" parameterType="int" resultType="SongMember">
    select profilePic, fileName 
    from song s right outer join member m on s.mno=m.mno where sno=#{sno}
  </select>
  
   <select id="countAll" resultType="int">
    select count(*) 
    from SONG
  </select>
  
  <update id="plusListen" parameterType="int">
    update song set listen=listen+1, ylisten=ylisten+1, mlisten=mlisten+1, wlisten=wlisten+1  where sno=#{sno}
  </update>

  <select id="selectMno" parameterType="int" resultType="int">
    select mno from song where sno=#{sno} 
  </select>  
</mapper>












