#container-fluid {
  overflow: hidden;
  width: 100%;
  min-width: 980px;
  height: 50px;
  margin: 15px 60px 15px 10px;
}

#container-fluid > #logo {
  font-size: large;
  display: inline-block;
  color: purple;
  padding-top: 2px;
  margin-top: 10px;
}

#container-fluid > #logo:HOVER {
  background-color: white;
}

#container-fluid > #menu2 {
  float: right;
  display: inline-block;
  position: relative;
}

#container-fluid > #menu2 > * {
  display: inline-block;
  position: relative;
  width: 130px;
  text-align: center;
  margin-top: 14px;
}

#container-fluid > #menu2 > *:HOVER {
  background-color: black;
  color: white;
}
.halloffame {
  padding: 100px 0px 100px 0px;
  background-color: transparent;
  background-image: url(../picture/background.PNG);
  background-repeat: repeat-y! important;
  background-position: 50% -227.25px;
  background-size: cover;
  overflow: hidden;
}
.halloffame h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5em;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.halloffame #subtitle {
  font-family: 'Lora', 'Nanum Gothic';
  font-style: italic;
  margin: 0;
  color: #feffff;
  font-size: 13px;
  text-align: center;
}
img:hover {
  opacity: .5;
  cursor: pointer;
}
.content {
	height: 650px;
	width: 1000px;
	margin: 0 auto ;
	padding-top: 30px;
	padding-left: 35px;
}
.line {
  float: left;
  border-top: 0px;
  border-bottom: 0px;
  width: 202px;
}
.circle {
  width: 200px;
  height: 200px;
  -webkit-border-radius:100px;
  -moz-border-radius: 100px;
  overflow: hidden;
}
.line > .circle {
	position: relative;	
  width: 200px;
  height: 200px;
  overflow: hidden;
  line-height: 200px;
}
.line .circle img {
  width: 200px;
  height: 203px;
}
.name {
  font-family: 'Lora', 'Nanum Gothic';
  font-style: italic;
  color: #feffff;
  font-size: 12px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
