#container-fluid {
  overflow: none;
  width: 98%;
  min-width: 980px;
  height: 50px;
  margin: 15px 60px 15px 10px;
}

#container-fluid {
  overflow: none;
  width: 98%;
  min-width: 980px;
  height: 50px;
  margin: 15px 60px 15px 10px;
}

#container-fluid>#logo {
  font-size: large;
  display: inline-block;
  color: purple;
  padding-top: 2px;
  margin-top: 10px;
  cursor: pointer;
}


#container-fluid > .nav {
  float: right;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  z-index: 1000
}
#container-fluid>#menu>* {
  display: inline-block;
  position: relative;
  width: 130px;
  text-align: center;
  margin-top: 14px;
}
#home, #sing, #song, #hof, #mypage {
  padding-top: 11px;
}
#home, #sing, #song {
  width: 80px;
}
#song {
  margin-right: 15px;
}

/* 드롭다운 간격 */
#mypage {
  padding-top: 4px;
  margin-top: 25px;
}
#mysong {
  margin-top: 1px;
}
#logout {
  margin-top: 1px;
}
#profile {
  width: 80px;
}
#profile2 {
  border: 1px solid White;
  width: 37px; height : 37px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.menu div {
  /* border: 1px solid red; */
  float: left;
  text-decoration: none;
  width: 120px;
  height: 28px;
  text-align: center;
}
.menu {
  list-style: none;
  text-align: center;
  width: 500px;
  margin: 0 auto
}
.menu li {
  position: relative;
  float: left;
  z-index: 1000
}
.menu ul {
  display: none;
  position: absolute;
  top: 36px;
  background: none;
  list-style: none;
}
ul {
  padding-left: 0; /* 드롭다운 */
}
.menu ul li div, li.menuhover li div, li.menuhover li.menuhover li div {
  float: none;
  display: block;
  background: white;
  height: 25px;
  padding-top: 3px;
}
.menu li div:hover, li.menuhover li div:hover, li.menuhover li.menuhover li div:hover{
  color: red; /* 메뉴글씨 hover */
}
li.menuhover div, li.menuhover li.menuhover div {
  color: black;
  background: none;
}



.halloffame {
  padding: 100px 0px 100px 0px;
  background-color: transparent;
  background-image: url(../picture/background.PNG);
  background-repeat: repeat-y! important;
  background-position: 50% -227.25px;
  background-size: cover;
  overflow: hidden;
}
.halloffame h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5em;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.halloffame #subtitle {
  font-family: 'Lora', 'Nanum Gothic';
  font-style: italic;
  margin: 0;
  color: #feffff;
  font-size: 13px;
  text-align: center;
}
img:hover {
  opacity: .5;
  cursor: pointer;
}
.content {
  height: 650px;
  width: 1000px;
  margin: 0 auto ;
  padding-top: 30px;
  padding-left: 35px;
}
.line {
  float: left;
  border-top: 0px;
  border-bottom: 0px;
  width: 202px;
}
.circle {
  float: left;
  width: 200px;
  height: 200px;
  -webkit-border-radius:100px;
  -moz-border-radius: 100px;
  overflow: hidden;
}
.line > .circle {
  position: relative; 
  width: 200px;
  height: 200px;
  overflow: hidden;
  line-height: 200px;
}
.line .circle img {
  width: 200px;
  height: 203px;
}
.name {
  font-family: 'Lora', 'Nanum Gothic';
  font-style: italic;
  color: #feffff;
  font-size: 12px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
