#container-fluid {
  overflow: hidden;
  width: 100%;
  min-width: 980px;
  height: 50px;
  margin: 15px 60px 15px 10px;
}

#container-fluid>#logo {
  font-size: large;
  display: inline-block;
  color: purple;
  padding-top: 2px;
  margin-top: 10px;
}

#container-fluid>#logo:HOVER {
  background-color: white;
}

#container-fluid>#menu2 {
  float: right;
  display: inline-block;
  position: relative;
  cursor: pointer
}

#container-fluid>#menu2>* {
  display: inline-block;
  position: relative;
  width: 130px;
  text-align: center;
  margin-top: 14px;
}

#container-fluid>#menu2>*:HOVER {
  background-color: black;
  color: white;
}

#picture {
  width: 100%;
  margin-bottom: 2%;
}

#picture>img {
  width: 99.7%;
}

#searchbox {
  margin: 0 auto;
  margin-bottom: 2%;
  border-bottom: 1px solid gray;
  width: 276px;
}

#searchbox>input {
  display: inline-block;
  border: 2px solid white;
  width: 250px;
  font-size: large;
  text-align: justify;
}

#searchbox>input:FOCUS {
  outline: none;
}

.success {
  background: white url("../picture/search.PNG");
}

#imgbox {
  display: inline-block;
  width: 18px;
  height: 20px;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

.container {
  width: 50%;
}

.GITheWall {
	margin-bottom: 1%;
	float: left;
}

h3 {
  font-weight: bolder;
  font-family: 'Oswald', sans-serif;
}

#title {
  color: red;
}

a {
  color: black;
  text-decoration: none;
}

a:VISITED {
  color: black;
  text-decoration: none;
}

a:HOVER {
  color: black;
  text-decoration: none;
}

td {
  text-align: center;
  width: 80px;
  overflow: hidden;
  /*margin: 0 auto;*/
}

.table {
  width: 90%;
  margin: 0 auto;
}

#loadinglocation {
	text-align: center;
