/* 메뉴 */

#container-fluid {
  overflow: none;
  width: 98%;
  min-width: 980px;
  height: 50px;
  margin: 15px 60px 15px 10px;
}

#container-fluid {
  overflow: none;
  width: 98%;
  min-width: 980px;
  height: 50px;
  margin: 15px 60px 15px 10px;
}

#container-fluid>#logo {
  font-size: large;
  display: inline-block;
  color: purple;
  padding-top: 2px;
  margin-top: 10px;
  cursor: pointer;
}


#container-fluid > .nav {
  float: right;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  z-index: 1000
}
#container-fluid>#menu>* {
  display: inline-block;
  position: relative;
  width: 130px;
  text-align: center;
  margin-top: 14px;
}
#home, #sing, #song, #hof, #mypage {
  padding-top: 11px;
}
#home, #sing, #song {
  width: 80px;
}
#song {
  margin-right: 15px;
}

/* 드롭다운 간격 */
#mypage {
	padding-top: 4px;
	margin-top: 25px;
}
#mysong {
	margin-top: 1px;
}
#logout {
	margin-top: 1px;
}
#profile {
  width: 80px;
}
#profile2 {
  border: 1px solid White;
  width: 37px; height : 37px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.menu div {
  /* border: 1px solid red; */
  float: left;
  text-decoration: none;
  width: 120px;
  height: 28px;
  text-align: center;
}
.menu div:hover {
  color: blue;
}
.menu {
  list-style: none;
  text-align: center;
  width: 500px;
  margin: 0 auto
}
.menu li {
  position: relative;
  float: left;
  z-index: 1000
}
.menu ul {
  position: absolute;
  top: 36px;
  background: none;
  list-style: none
}
ul {
  padding-left: 0; /* 드롭다운 */
}
.menu ul li div, li.menuhover li div, li.menuhover li.menuhover li div {
  float: none;
  display: block;
  background: white;
  height: 25px;
  padding-top: 3px;
}
.menu li div:hover, li.menuhover li a:hover, li.menuhover li.menuhover li div:hover{
  color: red; /* 메뉴글씨 hover */
}
li.menuhover div, li.menuhover li.menuhover div {
  color: black;
  background: none;
}
