.test {
  width: 300px;
  border: 1px solid blue;
  float: right;
}

div {
  /*display: inline-block;*/
  /*border: 1px solid red;*/
}

#container-fluid {
  overflow: none;
  width: 98%;
  min-width: 980px;
  height: 50px;
  margin: 15px 60px 15px 10px;
}

#container-fluid {
  overflow: none;
  width: 98%;
  min-width: 980px;
  height: 50px;
  margin: 15px 60px 15px 10px;
}

#container-fluid>#logo {
  font-size: large;
  display: inline-block;
  color: purple;
  padding-top: 2px;
  margin-top: 10px;
  cursor: pointer;
}


#container-fluid > .nav {
  float: right;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  z-index: 1000
}

#container-fluid > #menu2 > * {
  display: inline-block;
  position: relative;
  width: 130px;
  text-align: center;
  margin-top: 14px;
}
#home, #sing, #song, #hof, #mypage {
  padding-top: 11px;
} 
#home, #sing, #song {
  width: 80px;
}
#song {
  margin-right: 15px;
}

/* 드롭다운 간격 */
#mypage {
  margin-top: 15px;   
}
#mysong {
  margin-top: 13px;
  margin-bottom: 5px;
}
#profile {
  width: 80px;
}
#profile2 {
  border: 1px solid White;
  width: 37px; height : 37px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.menu div {
  /* border: 1px solid red; */
  float: left;
  text-decoration: none;
  width: 120px;
  height: 28px;
  text-align: center;
}
.menu div:hover {
  color: blue;
}
.menu {
  list-style: none;
  text-align: center;
  width: 500px;
  margin: 0 auto
}
.menu li {
  position: relative;
  float: left;
  z-index: 1000
}
.menu ul {
  display: none;
  position: absolute;
  top: 36px;
  background: none;
  list-style: none
}
ul {
  padding-left: 0; /* 드롭다운 */
}
.menu ul li div, li.menuhover li div, li.menuhover li.menuhover li div {
  float: none;
  display: block;
  background: none;
  height: 22px;
  padding-top: 5px
}
.menu li div:hover, li.menuhover li a:hover, li.menuhover li.menuhover li div:hover{
  color: red; /* 메뉴글씨 hover */
}
li.menuhover div, li.menuhover li.menuhover div {
  color: black;
  background: none;
}


.sect1 {
  float: left;
  border: 1px solid lightgray;
  border-top: 0px;
  border-bottom: 0px;
  width: 270px;
}

.name {
  width: 90%;
  border: 0px solid black;
  color: hsl(47, 96%, 28%);
  margin: 0 auto;
  text-align: center;
}

.disc {
  padding: 30px;
  width: 150px;
  border: 0px solid black;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  color: gray;
}
.detail {
  padding: 5px 25px;
  color: gray;
  background-color: white;
  border: 1px solid lightgray;
  width: 150px;
  margin: 50px auto;
  text-align: center;
}

.hex {
  margin-bottom: 70px;
}

.hex .hexagon {
  margin: 20px auto;
  width: 180px;
  height: 210px;
  position: relative;
  overflow: hidden;
  line-height: 200px;
  cursor: pointer;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -moz-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
  -ms-clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
  clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
}

.hex .hexagon img {
  width: 200px;
  min-height: 100%; min-width: 114%; margin-left: -7%;
}

a:visited {
  color: white;
  text-decoration: none;
}

.sec1{
  float: left;
  border: 1px solid lightgray;
  border-top: 0px;
  border-bottom: 0px;
  width: 250px;
}

.hand2 {
  width: 50%;
  position: relative;
  left: 38%;
  display: inline-block;
}

