.jbMenu {
  background-color: white;
  height: 87px;
  width: 100%;
  z-index: 1000;
}

.jbContent {
  height: 100px;
}

.jbFixed {
  position: fixed;
  top: 0px;
}
.boxroll-slider-item { 
  height: 80px;
  width: 100%;
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  visibility: hidden;
  
  transition: transform 1.0s ease-in-out, opacity 1.0s cubic-bezier(1,-1,0.3,1);
  -webkit-transition: -webkit-transform 1.0s ease-in-out, opacity 10s cubic-bezier(1,-1,0.3,1);
      -moz-transition: -moz-transform 1.0s ease-in-out, opacity 10.0s cubic-bezier(1,-1,0.3,1);
         -ms-transition: -ms-transform 1.0s ease-in-out, opacity 1.0s cubic-bezier(1,-1,0.3,1);
              -o-transition: transform 1.0s ease-in-out, opacity 10.0s cubic-bezier(1,-1,0.3,1);

}

input {
  outline: none;
  display: block;
  width: 200px;
  border: 1px solid #d9d9d9;
  padding: 10px 15px;
  margin-top: 22px;
  margin-left: 25px;
  margin-right: 25px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  float: left;
}
input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
#form {
  height: 70px;
  width: 950px;
  margin: 0 auto;
  padding-left: 50px;
}
#form2 {
  height: 70px;
  width: 1000px;
  margin: 0 auto;
}
#btn {
  height: 70px;
  width: 490px;
  margin: 0 auto;
}

button {
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  width: 200px;
  color: #ffffff;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background: #33b5e5;
  height: 40px;
}
#backBtn {
  float: right;
  margin-top: 20px;
  margin-right: 110px;
  margin-left: 0px;
  width: 40px;
  height: 40px;
}

#emailCheck {
	margin-left: 30px;
	color: lightblue;
}